@charset "UTF-8";
body {
  position: relative;
  font-size: 1.5em;
  background: #EFF5EF;
  font-family: 'Crimson Text', serif;
  color: #A4A4A4;
  overflow-x: hidden; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.unvisible {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important; }

.color_green {
  color: #189818; }

.button, .page-main .game-modes a, .page-main .pair-game-modes__create, .page-main .pair-game-modes__join-roomCode_enter, .page-main .game-area__user {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 45px;
  width: 180px;
  height: 180px;
  line-height: 1.2em;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid grey;
  background: #D1D1D1;
  font-size: 1.6em;
  text-decoration: none;
  color: #756CA6;
  text-align: center;
  transition: 0.5s; }
  .button:hover, .page-main .game-modes a:hover, .page-main .pair-game-modes__create:hover, .page-main .pair-game-modes__join-roomCode_enter:hover, .page-main .game-area__user:hover {
    color: #D1D1D1;
    background: #756CA6; }

input {
  display: inline-block;
  vertical-align: top;
  background: url("../images/bg_input.png") 50% 50%;
  border: 1px solid grey;
  border-radius: 8px;
  outline: none;
  padding: 5px 10px;
  color: #565656; }
  input:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
  input:focus {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3); }

/*********************** Общие элементы ***********************/
.social-game__header {
  text-align: center; }

.social-game__menu {
  margin: 10px 0 10px 0;
  padding: 0px;
  list-style: none;
  text-align: center; }
  .social-game__menu a {
    display: block;
    color: #8B89AE; }
  .social-game__menu-item {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: #DDDBDB;
    font-size: 0.75em;
    line-height: 75px;
    transition: 0.5s;
    cursor: pointer; }
    .social-game__menu-item:first-child {
      margin-left: 0px; }
    .social-game__menu-item:hover {
      color: #DDDBDB;
      background-color: #789BBC; }

.page-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 480px; }

.page-header:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,a0a0a0+50,7db9e8+100&0+0,1+50,0+100 */
  background: -moz-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(50%, #a0a0a0), color-stop(100%, rgba(125, 185, 232, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */ }

.page-header .logo-wrap__logo {
  margin: 0px 0 10px 0;
  font-size: 3.6em;
  text-align: center; }
  .page-header .logo-wrap__logo .ltr {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.4s; }
    .page-header .logo-wrap__logo .ltr:nth-child(2n) {
      color: #8B89AE; }
    .page-header .logo-wrap__logo .ltr:nth-child(2n+1) {
      color: #C48888; }
    .page-header .logo-wrap__logo .ltr:first-child {
      padding-left: 0px; }
    .page-header .logo-wrap__logo .ltr:hover {
      transform: translateY(-15px); }

.page-main .game-modes {
  text-align: center; }
  .page-main .game-modes a {
    margin-left: 50px; }
    .page-main .game-modes a:first-child {
      margin-left: 0px; }

.page-main .pair-game-modes__create-mode {
  text-align: center; }

.page-main .pair-game-modes__join-mode {
  text-align: center;
  vertical-align: top; }
  .page-main .pair-game-modes__join-mode label {
    display: block;
    font-size: 1.4em;
    text-align: center; }

.page-main .pair-game-modes__join-roomCode_enter {
  margin-left: 20px;
  padding: 0px 10px;
  height: 45px;
  line-height: 1em;
  width: auto;
  border-radius: 8px; }

.page-main .game-area__sentence {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-size: 1.4em;
  color: #CE7E7E; }

.page-main .game-area__user-sentence-wrap {
  padding-bottom: 30px;
  text-align: center; }
  .page-main .game-area__user-sentence-wrap input {
    width: 80%; }
  .page-main .game-area__user-sentence-wrap:before {
    content: '';
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 50px;
    width: 50%;
    background: url("../images/devider.png") 50% 50% no-repeat; }

.page-main .game-area__players-av {
  min-height: 35px;
  text-align: center; }

.page-main .game-area__users {
  /*
			margin: 0 auto;
			display: table;
			width: 60%;
			*/
  text-align: center; }

.page-main .game-area__user {
  /*
			display: table-cell;
			width: 50%;

			text-align: center;
			*/
  margin-left: 80px;
  padding-top: 40px;
  font-size: 1em;
  width: 150px;
  height: 150px;
  line-height: 35px; }
  .page-main .game-area__user:first-child {
    margin-left: 0px; }
  .page-main .game-area__user.op {
    color: #CE7E7E; }
  .page-main .game-area__user.you {
    color: #189818; }
  .page-main .game-area__user:hover {
    color: #D1D1D1; }

.page-main .game-area__user-name {
  font-size: 1.3em; }

.page-main .game-area__user-points {
  font-size: 1.2em; }

.page-footer {
  padding-bottom: 10px; }
  .page-footer:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,a0a0a0+50,7db9e8+100&0+0,1+50,0+100 */
    background: -moz-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(50%, #a0a0a0), color-stop(100%, rgba(125, 185, 232, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, #a0a0a0 50%, rgba(125, 185, 232, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 );
    /* IE6-9 */ }
  .page-footer .logo-wrap__mini-logo {
    float: left;
    padding-right: 20px; }
  .page-footer .logo-wrap__descr {
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 0.9em;
    text-align: center; }

.popup-msg-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  .popup-msg-wrap .popup-msg {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%; }
    .popup-msg-wrap .popup-msg .popup-msg-inner {
      display: table-cell;
      vertical-align: middle; }
    .popup-msg-wrap .popup-msg__header {
      font-size: 1.2em;
      color: red; }
